:root{
    --black:#222325;
    --grey:#303134;
    --bluishGrey:#3e4759;
}

#viewer{
    position: relative;
    margin: auto;
    width: 100vw;
    height: 100vh;
    background-color:var(--black);
}

.face{
    background-color:var(--grey);
    color: white;
    width: 600px;
    height: 600px;
    opacity: 0.8;
    padding: 30px;
    border-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: center;
}